@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BMI Calculator</h1>
    <p>Learn about <a href="https://en.wikipedia.org/wiki/Body_mass_index">Body mass Index</a>.</p>
</div>
